<div class="home">
  <div class="listPatient">
    <nb-card>
      <nb-card-body>
        <div class="item">
          <mat-form-field appearance="fill">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Chercher">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="material-icons item" (click)="ajouter()">
          <mat-icon>add_circle</mat-icon>
          Ajouter un patient
        </button>

        <table class="item" mat-table [dataSource]="dataSource" matSort>
<!--
          <ng-container matColumnDef="numero_dossier">
            <th mat-header-cell *matHeaderCellDef>Numero de dossier</th>
            <td mat-cell *matCellDef="let element"> {{element.fileNumber}} </td>
          </ng-container>-->

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Selectioner</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="show_profile(element.id)">
                Ouvrir
              </button>
              <span *ngIf="selected==element.id" class="material-icons" style="font-size: small; color: red">
             place
          </span>

            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="item" [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="patientDetails">
    <app-addpatient (exampleOutput)="refresh_list($event)" [id]="id" *ngIf="addpatient===true"></app-addpatient>
    <app-patient-profile [id]="id" *ngIf="showProfile===true"></app-patient-profile>
    <app-antecedants [id]="id" *ngIf="ante===true"></app-antecedants>
    <app-sociodemo [id]="id" *ngIf="socio===true"></app-sociodemo>
    <app-examenclinique [id]="id" *ngIf="exam===true"></app-examenclinique>
    <app-affectpodometre [id]="id" *ngIf="podo===true"></app-affectpodometre>

  </div>
</div>
