<nb-card>

  <nb-card class="clinical-examination">
    <nb-card-body><h2>Examen clinique</h2></nb-card-body>
    <nb-card-body *ngIf="this.patient.medicalFile.clinicalExamination.length !== 0">
     <p>Selectionner une date</p>
      <nb-select placeholder="Selectionner une date" [(selected)]="selectedItem"  (selectedChange)="onChangeClinicalExamination()" >
        <nb-option *ngFor="let cl of this.patient.medicalFile.clinicalExamination; let i = index;"  [value]="i">{{cl.date}}</nb-option>
      </nb-select>
    </nb-card-body>

    <nb-card-body *ngIf="this.patient.medicalFile.clinicalExamination.length === 0">Pas d'examen clinique.</nb-card-body>

    <nb-card *ngIf="patient?.medicalFile.clinicalExamination !== undefined && patient?.medicalFile.clinicalExamination.length > 0">
      <nb-card-body>
        <h5>Anthropometry</h5>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Poids</th>
            <th scope="col">Hauteur</th>
            <th scope="col">IMC</th>
            <th scope="col">Taille</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{examenClinique.at(selectedItem)?.anthropometry.weight}}</td>
            <td>{{examenClinique.at(selectedItem)?.anthropometry.height}}</td>
            <td>{{examenClinique.at(selectedItem)?.anthropometry.imc}}</td>
            <td>{{examenClinique.at(selectedItem)?.anthropometry.waist}}</td>
          </tr>
          </tbody>
        </table>
        <h5>Cardiovasculaire</h5>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">TA (bras D) Diastolique</th>
            <th scope="col">TA (bras G) Diastolique</th>
            <th scope="col">TA (bras D) Systolique</th>
            <th scope="col">TA (bras G) Systolique</th>
            <th scope="col">FC (repos)</th>
            <th scope="col">Regulier</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{examenClinique.at(selectedItem)?.cardiovascular.bloodPressure.bloodPressureRightHandDiastolique}}</td>
            <td>{{examenClinique.at(selectedItem)?.cardiovascular.bloodPressure.bloodPressureLeftHandDiastolique}}</td>
            <td>{{examenClinique.at(selectedItem)?.cardiovascular.bloodPressure.bloodPressureRightHandSystolique}}</td>
            <td>{{examenClinique.at(selectedItem)?.cardiovascular.bloodPressure.bloodPressureLeftHandDiastolique}}</td>
            <td>{{examenClinique.at(selectedItem)?.cardiovascular.heartRate.value}}</td>
            <td *ngIf="examenClinique.at(selectedItem)?.cardiovascular.heartRate.regular === true">Oui</td>
            <td *ngIf="examenClinique.at(selectedItem)?.cardiovascular.heartRate.regular === false">Non</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-card>


  <nb-card class="lipid-profile">
    <nb-card-body><h2>Bilan lipidique</h2></nb-card-body>
    <nb-card-body *ngIf="bilanLipidique.length !== 0">
      <p>Selectionner une date</p>
      <nb-select placeholder="Selectionner une date" [(selected)]="selectedItem2"  (selectedChange)="onChangeBilanLipidique()" >
        <nb-option *ngFor="let lp of bilanLipidique; let i = index;"  [value]="i">{{lp.date}}</nb-option>
      </nb-select>
    </nb-card-body>
    <nb-card-body *ngIf="this.patient.medicalFile.clinicalExamination.length === 0">Pas de bilan lipidique</nb-card-body>

    <nb-card *ngIf="bilanLipidique.length > 0">
      <nb-card-body>
        <p><b>Date : </b>{{bilanLipidique.at(selectedItem2).date}}</p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">HDL</th>
            <th scope="col">NOHDL</th>
            <th scope="col">HBA1C</th>
            <th scope="col">LDL</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{bilanLipidique.at(selectedItem2).hdl}}</td>
            <td>{{bilanLipidique.at(selectedItem2).nohdl}}</td>
            <td>{{bilanLipidique.at(selectedItem2).hba1c}}</td>
            <td>{{bilanLipidique.at(selectedItem2).ldl}}</td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-card>

</nb-card>
