
<nb-card size="medium" *ngIf="pasPodometre===true">
  <nb-card-body class="">
    <h2>Aucun appareil disponible</h2>
  </nb-card-body>
</nb-card>

<nb-card size="medium" *ngIf="affecter===true">
  <nb-card-body class="">
    <nb-select #podo placeholder="Sélectionnez un podomètre" shape="round"  (selectedChange)="selectDevice($event)">
      <nb-option *ngFor="let device of devices" value="{{device.id}}">{{device.deviceCode }}  ({{device.type}})</nb-option>
    </nb-select>
    <button nbButton status="success" (click)="affect()">Affecter</button>
  </nb-card-body>
</nb-card>


<nb-card size="medium" *ngIf="podometre===true">
  <nb-card-body class="example-items-col">
    <b>Model : </b>{{model}}
    <b>Type : </b> {{type}}
    <button nbButton status="success" (click)="recuperer(idDevice)">Récupérer</button>
  </nb-card-body>
</nb-card>
