
<nb-card class="parent" accent="info" id="g">
  <nb-card-header class="header" style="background-color: rgba(238,248,255,0.58)">

    <div class="item-name">
      <nb-icon icon="person-outline"></nb-icon>
      <mat-card-title style="text-transform: capitalize;">{{patient?.firstName}}, {{patient?.lastName}}</mat-card-title>
    </div>
    <div class="item-date">
      <nb-icon icon="calendar-outline"></nb-icon>
      <mat-card-subtitle *ngIf="lastVisite!=null">Date de la prochaine visite
        : {{lastVisite.appointmentDate}}</mat-card-subtitle>
    </div>
    <div class="item-code">
      <nb-icon icon="hash-outline"></nb-icon>
      <mat-card-subtitle>Code compte patient : {{patient?.loginCode}}</mat-card-subtitle>
    </div>

    <button class="item-print-report" nbButton status="warning" (click)="report()">
      Générer le rapport Global
      <nb-icon icon="printer-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </button>
    <!--<a class="item-print-report" nbButton status="warning" href="/report/{{this.patient.id}}" target="_blank">
      Générer le rapport Global
      <nb-icon icon="printer-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </a>-->


  </nb-card-header>
  <nb-card-body class="child">
    <mat-tab-group (selectedTabChange)="tabClick($event)" [(selectedIndex)]="this.tabIndex" *ngIf="patient!=null">

      <mat-tab class="labeltab tab1" label="Identification du patient">

        <div class="infos">
          <div>
            <p>Nom</p>
            <h6 style="text-transform: capitalize;">{{patient?.firstName}}</h6>
          </div>

          <div>
            <p>Prenom</p>
            <h6 style="text-transform: capitalize;">{{patient?.lastName}}</h6>
          </div>

          <div>
            <p>Nom de mere</p>
            <h6 style="text-transform: capitalize;">{{patient?.motherName}}</h6>
          </div>
        </div>
        <div class="contact">
          <div>
            <p>Numero de telephone</p>
            <h6>{{patient?.contact.phone}}</h6>
          </div>

          <div>
            <p>Email</p>
            <h6>{{patient?.contact.email}}</h6>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="labeltab" label="Informations du patient">

        <div class="infos">
          <div>
            <p>Date de naissance</p>
            <h6 style="text-transform: capitalize;">{{patient?.birthday}}</h6>
          </div>

          <div>
            <p>Taille (cm)</p>
            <h6 style="text-transform: capitalize;">{{height}}</h6>
          </div>

          <div>
            <p>Poids (kg)</p>
            <h6 style="text-transform: capitalize;">{{weight}}</h6>
          </div>
          <div>
            <p>IMC</p>
            <h6 style="text-transform: capitalize;">{{imc}}</h6>
          </div>
        </div>

        <nb-card class="parent" status="info">
          <nb-card-header>Informations personnels (obligatoires)</nb-card-header>
          <nb-card-body class="child">

          </nb-card-body>
        </nb-card>


        <mat-expansion-panel style=" margin-top: 2em;  margin-bottom: 2em;" *ngIf="listAnte!=null">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Histoire de Sante:</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list #antecedants *ngFor="let ante of antecedents ">
            <mat-list-item *ngFor="let x of ante">
              <h4>{{ x?.antecedent }}&nbsp;&nbsp;</h4>
              <p *ngIf=" x.mounth!=null ">
                &nbsp;&nbsp;{{ x?.mounth }}- <br>
              </p>
              <p *ngIf="x.year!=null">
                {{ x?.year }} <br>
              </p>

              <p *ngIf="x?.traitement!=null ">
                &nbsp;&nbsp; traitement : {{ x.traitement }} <br>
              </p>
              <p *ngIf=" x.type!= null">
                &nbsp;&nbsp; type : {{ x.type }} <br>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="patient?.socioDemographicVariables!=null"
                             style=" margin-top: 2em;  margin-bottom: 2em;">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Informations socio-demographiques :</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>Niveau de scolarite</h4>
          <h5 style="color: #039be5">{{socioDemo.education}}</h5>
          <h4>Statut marital actuel</h4>
          <h5 style="color: #039be5">{{socioDemo.civilStatus}}</h5>
          <h4>Statut professionnel actuel</h4>
          <h5 style="color: #039be5">{{socioDemo.jobStatus}}</h5>
          <h4>Revenu familial </h4>
          <h5 style="color: #039be5">{{socioDemo.familyIncome}} par an</h5>
          <h4>Milieu de vie </h4>
          <h5 style="color: #039be5">{{socioDemo.livingEnvironment}}</h5>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="this.medicalfile?.clinicalExamination.length > 0"
                             style=" margin-top: 2em;  margin-bottom: 2em;">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Cardiovasculaire :</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>FC (repos)</h4>
          <h5 style="color: #039be5">{{clinicalExam?.cardiovascular?.heartRate?.value}}</h5>
          <h4>TA (bras dr) Diastolique</h4>
          <h5
            style="color: #039be5">{{clinicalExam?.cardiovascular?.bloodPressure?.bloodPressureRightHandDiastolique}}</h5>
          <h4>TA (bras dr) Systolique</h4>
          <h5
            style="color: #039be5">{{clinicalExam?.cardiovascular?.bloodPressure?.bloodPressureRightHandSystolique}}</h5>
          <h4>TA (bras gche) Diastolique</h4>
          <h5
            style="color: #039be5">{{clinicalExam?.cardiovascular?.bloodPressure?.bloodPressureLeftHandDiastolique}}</h5>
          <h4>TA (bras gche) Systolique</h4>
          <h5
            style="color: #039be5">{{clinicalExam?.cardiovascular?.bloodPressure?.bloodPressureLeftHandSystolique}}</h5>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="medicalfile?.clinicalExamination.length > 0"
                             style=" margin-top: 2em;  margin-bottom: 2em;">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Pharmacothérapie :</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>Cardiovasculaire</h4>
          <h5 style="color: #039be5">{{clinicalExam?.pharmacotherapy?.cardiovascular}}</h5>
          <h4>Dyslipidémie</h4>
          <h5 style="color: #039be5">{{clinicalExam?.pharmacotherapy?.dyslipidemia}}</h5>
          <h4>Diabète</h4>
          <h5 style="color: #039be5">{{clinicalExam?.pharmacotherapy?.diabetes}}</h5>
          <h4>Autres</h4>
          <h5 style="color: #039be5">{{clinicalExam?.pharmacotherapy?.other}}</h5>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="clinicalExam?.smoking != null " style=" margin-top: 2em;  margin-bottom: 2em;">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Tabagisme :</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>type</h4>
          <h5 style="color: #039be5">{{clinicalExam.smoking.type}}</h5>
          <h4 *ngIf="clinicalExam.smoking.type=== 'actif'">Nombre de cigarettes par jour</h4>
          <h5 *ngIf="clinicalExam.smoking.type=== 'actif'"
              style="color: #039be5">{{clinicalExam.smoking.numberCigarettes}}</h5>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="bilanLipidique != null " style=" margin-top: 2em;  margin-bottom: 2em;">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #323232; font-weight: bold ">
              <h4>Bilan lipidique :</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h4>hba1c</h4>
          <h5 style="color: #039be5">{{bilanLipidique.hba1c}}</h5>
          <h4>nohdl</h4>
          <h5 style="color: #039be5">{{bilanLipidique.nohdl}}</h5>
          <h4>hdl</h4>
          <h5 style="color: #039be5">{{bilanLipidique.hdl}}</h5>
          <h4>ldl</h4>
          <h5 style="color: #039be5">{{bilanLipidique.ldl}}</h5>
          <h4>triglyceride</h4>
          <h5 style="color: #039be5">{{bilanLipidique.triglyceride}}</h5>


        </mat-expansion-panel>


      </mat-tab>

      <mat-tab class="labeltab" label="Questionnaire individuel">
        <app-quizindivid [patient]="patient"></app-quizindivid>
      </mat-tab>

      <mat-tab class="labeltab" label="Examen clinique et bilan lipidique">
        <app-examen-clinique-bilan-lipidique-read  [patient]="patient"></app-examen-clinique-bilan-lipidique-read>
      </mat-tab>

      <mat-tab class="labeltab" label="Visites">


        <app-list-visites [patient]="patient"></app-list-visites>

      </mat-tab>
      <mat-tab class="labeltab" label="Objectifs">
        <app-objectif-read [recommendations]="recommendations"></app-objectif-read>
      </mat-tab>
      <mat-tab label="Rapport visuel">

        <app-rapport [patient]="patient"></app-rapport>
      </mat-tab>


    </mat-tab-group>
    <!--<app-recommm></app-recommm>-->


  </nb-card-body>

</nb-card>
