<div class="report" id="htmlData">

  <button id="printPageButton" nbButton status="primary" fullWidth (click)="printPDF()">
    Imprimer
  </button>
  <nb-card class="head">
    <nb-card-body>
      <div>
        <nb-card>
          <nb-card-body>
            <h2>Rapport global</h2>
          </nb-card-body>
        </nb-card>
      </div>

      <nb-card class="infos">
        <nb-card-body>
          <p><b>Nom :</b> {{patient?.firstName}}</p>
          <p><b>Prenom :</b> {{patient?.lastName}}</p>
          <p><b>Date de naissance :</b> {{patient?.birthday}}</p>
          <p><b>Genre :</b> {{patient?.gender}}</p>
          <p><b>E-mail :</b> {{patient?.contact.email}}</p>
          <p><b>Numéro de téléphone :</b> {{patient?.contact.phone}}</p>
          <p><b>Pin :</b> {{patient?.loginCode}}</p>
        </nb-card-body>
      </nb-card>

      <nb-card class="clinical-examination">
        <nb-card-body>
          <h2>Examen clinique</h2>
          <p *ngIf="patient?.medicalFile.clinicalExamination.length === 0">Pas d'examen clinique</p>
        </nb-card-body>
        <nb-card *ngIf="patient?.medicalFile.clinicalExamination.length > 0">
          <nb-card-body *ngFor="let ce of patient?.medicalFile.clinicalExamination">
            <p><b>Date : </b>{{ce.date}}</p>
            <h5>Anthropométrie</h5>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Poids</th>
                <th scope="col">Grandeur</th>
                <th scope="col">IMC</th>
                <th scope="col">Tour de taille</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ce.anthropometry.weight}}</td>
                <td>{{ce.anthropometry.height}}</td>
                <td>{{ce.anthropometry.imc}}</td>
                <td>{{ce.anthropometry.waist}}</td>
              </tr>
              </tbody>
            </table>
            <h5>Cardiovasculaire</h5>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Bras droit</th>
                <th scope="col">Bras gauche</th>
                <th scope="col">FC (repos)</th>
                <th scope="col">Régulier</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ce?.cardiovascular.bloodPressure.bloodPressureRightHandSystolique}} / {{ce?.cardiovascular.bloodPressure.bloodPressureRightHandDiastolique}}</td>
                <td>{{ce?.cardiovascular.bloodPressure.bloodPressureLeftHandSystolique}} / {{ce?.cardiovascular.bloodPressure.bloodPressureLeftHandDiastolique}}</td>
                <td>{{ce?.cardiovascular.heartRate.value}}</td>
                <td *ngIf="ce.cardiovascular.heartRate.regular === true">Oui</td>
                <td *ngIf="ce.cardiovascular.heartRate.regular === false">Non</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </nb-card>

      <nb-card class="lipid-profile">
        <nb-card-body>
          <h2>Bilan lipidique</h2>
          <p *ngIf="patient?.medicalFile.lipidProfiles.length === 0">Pas de bilan lipidique</p>
        </nb-card-body>
        <nb-card *ngIf="patient?.medicalFile.lipidProfiles.length > 0">
          <nb-card-body *ngFor="let lp of patient?.medicalFile.lipidProfiles">
            <p><b>Date : </b>{{lp.date}}</p>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">HDL</th>
                <th scope="col">NOHDL</th>
                <th scope="col">HBA1C</th>
                <th scope="col">LDL</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{lp.hdl}}</td>
                <td>{{lp.nohdl}}</td>
                <td>{{lp.hba1c}}</td>
                <td>{{lp.ldl}}</td>
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </nb-card>

      <nb-card class="questionnaire">
        <nb-card-body>
        <h2>Questionnaires</h2>
        <p *ngIf="questionnaireObj.length === 0">Pas de questionnaires</p>
        </nb-card-body>
        <nb-card-body *ngIf="questionnaireObj.length > 0">
          <h4>BREQ</h4>
          <nb-card-body *ngIf="questionnaireBREQ.length === 0">
            <p >Pas de questionnaire BREQ</p>
          </nb-card-body>
          <nb-card *ngIf="questionnaireBREQ.length > 0">
            <div *ngFor="let breq of questionnaireBREQ; index as i">
              <nb-card-body>
                <p><b>Date : </b>{{breq.date}}</p>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Amotivation</th>
                    <th scope="col">External</th>
                    <th scope="col">Identified</th>
                    <th scope="col">Intrinsic</th>
                    <th scope="col">introjected</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{breq.value.score.amotivation}}</td>
                    <td>{{breq.value.score.external}}</td>
                    <td>{{breq.value.score.identified}}</td>
                    <td>{{breq.value.score.intrinsic}}</td>
                    <td>{{breq.value.score.introjected}}</td>
                  </tr>
                  </tbody>
                </table>


              </nb-card-body>
            </div>
          </nb-card>


          <h4>GPAQ</h4>
          <nb-card-body *ngIf="questionnaireGPAQ.length === 0">
            <p>Pas de questionnaire GPAQ</p>
          </nb-card-body>
          <nb-card *ngIf="questionnaireGPAQ.length > 0">
            <div *ngFor="let gpaq of questionnaireGPAQ; index as i">
              <nb-card-body>
                <p><b>Date : </b>{{gpaq.date}}</p>
                <h5>Travail</h5>
                Modéré-vigoureux :   {{(gpaq.value.reponses[5].hr * 60 + gpaq.value.reponses[5].minu) * gpaq.value.reponses[4].jr +
              (gpaq.value.reponses[2].hr * 60 + gpaq.value.reponses[2].minu) * gpaq.value.reponses[1].jr}} minutes
                <h5>Transport (déplacement) : </h5>
                A pied : {{ (gpaq.value.reponses[8].hr * 60 + gpaq.value.reponses[8].minu) * gpaq.value.reponses[7].jr}}  minutes<br>
                A vélo : {{(gpaq.value.reponses[11].hr * 60 + gpaq.value.reponses[11].minu) * gpaq.value.reponses[10].jr}} minutes
                <h5>Loisirs : </h5>
                Modéré-vigoureux : {{(gpaq.value.reponses[17].hr * 60 + gpaq.value.reponses[17].minu) * gpaq.value.reponses[16].jr +
              (gpaq.value.reponses[14].hr * 60 + gpaq.value.reponses[14].minu) * gpaq.value.reponses[13].jr}} minutes<br>
                Marche : {{(gpaq.value.reponses[20].hr * 60 + gpaq.value.reponses[20].minu) * gpaq.value.reponses[19].jr}} minutes<br>

              </nb-card-body>
            </div>

          </nb-card>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>
</div>

