<h2>Ajouter une recommandation</h2>
<div *ngIf="visible">
  <h2>Objectifs</h2>
  <p  *ngFor="let object of objectif">
    <mat-checkbox
      (change)="checked($event.checked,object)"
    ><b>{{object}}</b></mat-checkbox>
  </p>

</div>
<div *ngIf="param" >
  <h2>Parametres</h2>

  <mat-radio-group *ngIf="sed && cpt==5"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="parametre">
    <mat-radio-button class="example-radio-button" *ngFor="let sedentaire of sedentairesparams" [value]="sedentaire">
      {{sedentaire}}
    </mat-radio-button>
    <br>
  </mat-radio-group>
  <br>
  <mat-radio-group *ngIf="pas && cpt == 1"
                   aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   [(ngModel)]="pass">
    <mat-radio-button class="example-radio-button" *ngFor="let pas of pasparams" [value]="pas">
      {{pas}} <br>
    </mat-radio-button>
    <br>
  </mat-radio-group>
  <mat-radio-group *ngIf="min && cpt == 1"
                   aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   [(ngModel)]="minutes">
    <mat-radio-button class="example-radio-button" *ngFor="let minu of minparams" [value]="minu">
      {{minu}} <br>
    </mat-radio-button>
    <br>
  </mat-radio-group>
</div>

<div *ngIf="curseur">
  <mat-card-content>
    <mat-slider [(ngModel)]="value"
                max="25000"
                min="250"
                style="width: 50%"
                thumbLabel
                tickInterval="250"></mat-slider>
    <i class="material-icons">
      directions_walk
    </i>
    <mat-form-field appearance="fill">
      <input #nb [(ngModel)]="value"
             matInput
             max="5000"
             min="250"
             placeholder="Nombre de pas"
             type="number">
    </mat-form-field>

  </mat-card-content>
</div>
<button *ngIf="backk" mat-stroked-button color="primary" (click)="back()"><b> < Precedant  </b></button>
<button mat-stroked-button color="primary" (click)="next()"><b> Suivant > </b></button>




